* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 2vw;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    color: #212121;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    font-family: 'Source Sans Pro', sans-serif;
}

.postalCode {
    font-size: 4em;
}

@media (max-width: 700px) {
    .postalCode {
        font-size: 10em;
    }
}

.errorMessage {
    font-size: 2em;
}

@media (max-width: 700px) {
    .errorMessage {
        font-size: 3em;
    }
}