* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 2vw;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-size: 4em;
    color: #212121;
}

@media (max-width: 700px) {
    p {
        font-size: 10em;
    }
}